[2018-12-28 17:38] RadoRado opened #6 "Add section for testing"
Quite an important topic.

[2018-12-28 17:40] RadoRado opened #7 "Add section for basic principles when working with Celery"

[2019-01-15 11:15] hgylfason opened #9 "How would graphql API fit in?"
I watched @RadoRado presentation about Django Structure from EuroPython Conference 2018 and found it very interesting.
His talk centered around Django structure with an REST API but I was wondering if you have used graphql inside this structure? If not, could you provide some insight on how you would fit it in?

[2019-01-16 14:52] RadoRado commented on #9
@hgylfason That's a very good question. We don't have any big GraphQL project yet, but we plan on doing some internal testing so we can see how this approach is going to fit.

My "shot in the dark" is to use the services and selectors in your resolves. Just don't let the GraphQL library add abstraction around your models, just like the generic views from DRF or Django.

But once we get more experi

[2019-01-21 14:09] RadoRado commented on #6
Introduced that section with #8 & #10

Need to merge the `Testing` subsection from `Models` in the new section

[2019-01-23 11:52] RadoRado opened #11 "Typos"
Check comments here - https://github.com/HackSoftware/Django-Styleguide/pull/8

[2019-02-07 11:31] larsrinn opened #12 "License"
Thanks for this guide. While I don't agree to everything, there's still a huge bunch of great ideas and concepts in here.

I'd like to copy the code of `utils.py` to one of our projects. But you don't have a license for the project or the file specified, so this is not really possible. Do you want to publish this under an open source license?

[2019-02-11 08:16] RadoRado commented on #12
@larsrinn Great suggestion, will add a license at some point this week :+1:

[2019-02-17 09:05] RadoRado commented on #12
@larsrinn just added license file :+1:

[2019-02-17 09:05] #12 closed

[2019-04-06 16:02] Rlmdigital opened #13 "How do URL look using this style guide?"
First of all, I think this style/layout of DRF is awesome, its clear and really helps organize a large project!

I'm starting to convert a project of mine to this style and I'm wondering if you ever use other HTTP methods. In the guide, you only use POST when the REST way of doing things for an update would be PATCH or PUT. Is there a reason for that? Furthermore, if you using POST for create and

[2019-04-06 16:17] #13 closed

[2019-04-06 16:20] Mokubyow opened #14 "How to setup URLs using this style"
First of all, I think this style/layout of DRF is awesome, its clear and really helps organize a large project!
I'm starting to convert a project of mine to this style and I'm wondering if you ever use other HTTP methods. In the guide, you only use POST when the REST way of doing things for an update would be PATCH or PUT. Is there a reason for that? Furthermore, if you using POST for create and u

[2019-05-16 14:51] Reston opened #15 "ExceptionHandlerMixin error mapping"
As per the exception handler mixin

[code]

Shouldn't  `django.core.exceptions.PermissionDenied` map to `rest_exceptions.PermissionDenied`?

[2019-06-25 16:25] jim-pansn commented on #14
I was wondering the exact same thing. Did you figure something out?

[2019-06-26 06:58] RadoRado commented on #14
First - sorry for answering that late. I'm really bad at following notifications for something. Second - that's a great question & something we are still discussing inside HackSoft.

We usually build CRUD URLs like that:

[code]

I can agree that's too verbose, but it lets you keep the APIs separate, which is a great win to have.

If you want to avoid the `/create`, `/update`, etc. URLs, but still

[2019-06-26 16:20] Mokubyow commented on #14
@RadoRado Thank you for responding! I like the API Gateway solution. Can you please ping me once you have a working example of this?

[2019-07-08 21:21] DrBenton commented on #14
@Mokubyow Something like this does the trick - even though that's probably not the most elegant and performant way to do it ^_^

[code]

[2019-07-11 19:13] dakzh opened #16 "Browsable API"
Hello,

How we can setup builtin rest framework documentation features?
For example Browsable API. Overriding get_serializer in every APIView sounds boring.

Thank you

[2019-07-26 19:11] Spriithy opened #17 "SerializerMethodFields in inline_serializers"
Hi,

I would like to know how you would go about using SerializerMethodFields in an inline_serializer ?

I would rather not create a dedicated class for such use cases but unfortunately I haven't been able to think of or find an alternative to this...

Thanks !

[2019-08-13 21:52] SHxKM opened #18 "Clarify QuerySetType vs. Iterable[Model]"
In the docs there is this example:

[code]

But also this example:

[code]

What's the difference/distinction between the two? when should one prefer one over the other?

[2019-08-14 08:32] kdkocev commented on #18
If you are talking about the indentation of the function arguments.
And if the question is:
"Should you prefer to keep function signature and arguments on one line or should you expand them like in the second snippet".
The answer is:
We tend to keep the function signatures on a single line like this:
[code]

We do this unless the line becomes longer than 120 symbols. If it becomes longer - we move

[2019-08-14 08:34] SHxKM commented on #18
@kdkocev - thanks for the detailed message but I’m talking about the different return annotation.

[2019-08-14 08:34] kdkocev commented on #18
If you are rather asking about the function bodies:

The `get_users` selector does some preparations before the actual database query. These preparations are written on separate lines to make the function easier to read. It would be much more difficult to understand what this function is doing if the body is:
[code]

[2019-08-14 08:45] kdkocev commented on #18
If it's the return type you are asking about:

`QuerySetType` implements all the functions that `Iterable` has so it's ok to put it as a return type.
I think that it would be better if both return `QuerySetType` here because `Iterable` doesn't have the same interface that the querysets have.
It could be a mistake that we wrote the type of `get_users` as `Iterable` rather than `QuerySetType`

Somet

[2019-08-14 09:02] SHxKM commented on #18
@kdkocev - many thanks for this detailed response!

[2019-08-14 09:02] #18 closed

[2019-08-15 20:41] SHxKM opened #19 "Extending QuerySetType further"
I've adopted QuerySetType from this project's `queryset_type.py` and it works great for the most part. It was missing support for the logical OR opertaor (`|`) so I added the following method:

[code]

I also noticed it's missing things like support for slicing (`qs[:20]`). Is there a deliberate reason for that? is your actual implementation using a more updated/fuller version? trying to understan

[2019-08-19 11:00] Ivo-Donchev commented on #19
Hi @SHxKM
Thank you for the feedback :slightly_smiling_face:

We don't use the logical operators `|` and `&` too much so we didn't add typings for them - it's not intentional :) . I just updated the `QuerySetType`.

Just one missmatch with the proposed implementation - the return type of `__or__` should be `QuerySetType[DjangoModel]` (non-optional) since:
[code]

You can see the last changes here

[2019-08-19 11:00] #19 closed

[2019-08-19 11:35] SHxKM commented on #19
@Ivo-Donchev. Thanks. you’re right, it may return an empty QuerySet but not None.

[2019-08-19 13:30] Ivo-Donchev commented on #11
Fixed by https://github.com/HackSoftware/Django-Styleguide/pull/21

[2019-08-19 13:30] #11 closed

[2019-08-19 13:50] Ivo-Donchev commented on #17
Hi @Spriithy :slightly_smiling_face:

When we have some **serializer field** that is a result of some **bussiness logic**, we avoid putting the logic in the serializer itself. In this way we achieve the following things:
  - keep the serializer as clean (declarative) as possible
  - move the logic in a place where we can easily reuse after that

Usually we're taking one the following approaches:

[2019-08-19 13:52] #17 closed

[2019-09-10 13:38] mkurnikov opened #22 "Constraints instead of clean(), full_clean()"
What do you think about moving all the logic from custom `clean()` methods on the model to the db constraints?
https://docs.djangoproject.com/en/2.2/ref/models/constraints/

Yes, some logic is not representable as a constraint, it could be an exception which could still reside inside the `clean()` method. But otherwise, constraints are always enforced, there's no need to remember to call `full_cle

[2019-10-20 08:07] wencakisa commented on #15
By default, DRF's [default exception handling mechanism](https://github.com/encode/django-rest-framework/blob/5a8736ae450c14ab1236386c5b6065b355541d5e/rest_framework/views.py#L71) handles the Django built-in `Http404` and `PermissionDenied` exceptions:

[code]

---

As it is stated:

This is where `ExceptionHandlerMixin` comes to the rescue:

[code]

---

Thus, there is no need of explicitly mappi

[2019-10-26 08:08] RadoRado opened #23 "Add example project"
Odin was a good example back then. Now it's deprecated.

[2019-10-27 06:41] knasti opened #24 "API example views return serializer instead of the serializer's data"
Hey,

Awesome project, really helped me structure my code in a favorable manor.

I was mimicking the behavior of the List and Detail API views. It seems that they return the actual serializer instead of the serializer's.

![image](https://user-images.githubusercontent.com/21027620/67630751-d558fe80-f88c-11e9-8482-c8d8244e803d.png)

I did this:
![image](https://user-images.githubusercontent.com/210

[2019-10-27 09:35] RadoRado commented on #24
@knasti Ah, yes, we've missed that. Good catch :ok_hand:

PR with fix is coming soon.

[2019-10-27 09:36] RadoRado commented on #15
I think we can be more clear about the specific exceptions that we are handling, by providing the @wencakisa example & explanation :thinking:

[2019-10-27 13:52] wencakisa commented on #15
Resolved by https://github.com/HackSoftware/Django-Styleguide/pull/26

Thank you for opening the issue, @Reston.

[2019-10-27 13:52] #15 closed

[2019-10-27 13:53] wencakisa commented on #24
Resolved by https://github.com/HackSoftware/Django-Styleguide/pull/25

Thank you for opening the issue, @knasti .

[2019-10-27 13:53] #24 closed

[2019-10-27 15:07] RadoRado commented on #14
@Mokubyow @DrBenton Actually, something like this would do :+1:

I've added a PR to describe URLs - #28

After some time, we haven't seen any issues with that approach in our projects, that's why we are going to recommend it in the styleguide.

As for the API gateway, if anyone likes to PR a suggestion about that, we'd be more than happy to review & include it.

But I haven't seen a real benefit o

[2019-10-27 15:14] RadoRado commented on #9
I'm closing this for now, if we have any GraphQL input, we'll be updating that :raised_hands:

[2019-10-27 15:14] #9 closed

[2019-10-27 15:15] RadoRado commented on #6
@RadoRado This seems done :thinking: Closing until further notice / need.

[2019-10-27 15:15] #6 closed

[2019-10-27 15:15] RadoRado commented on #14
Folks, I'll be closing this as #28 has been merged. Feel free to ping me again, if any further explanation is needed :raised_hands:

[2019-10-27 15:15] #14 closed

[2019-10-27 15:17] RadoRado commented on #22
@mkurnikov I actually like this idea. If we can push more validation towards the database, this is less code to write.

I'll add this as an additional idea for doing validations. If you have any good examples to provide, please do so :+1:

[2019-10-27 15:19] RadoRado commented on #16
@DAKZH That's a great question.

We have the following mixin in some of our projects:

[code]

This handles some basic cases, but it can be done quite better. Once we have resolutions there, we'll be adding examples.

Again, a general rule of thumb is - if you need to create a "framework-like" abstraction, to make your life easier, do so.

[2019-10-27 15:25] RadoRado commented on #22
@mkurnikov Added this - https://github.com/HackSoftware/Django-Styleguide/commit/3c40f63acac223b5c91089281ab94f4309ecefb5

If you feel there's a need for more explaining & examples, feel free to open a PR.

Until then, I'll close this issue :raised_hands:

[2019-10-27 15:25] #22 closed

[2019-11-02 07:16] knasti commented on #7
I am in doubt on how to structure the Celery parts of my project in a good way, this would be an awesome addition.

[2019-11-03 10:39] RadoRado commented on #7
@knasti I've pushed an initial Celery section: https://github.com/HackSoftware/Django-Styleguide#celery

Would love to hear feedback from you & also - what else do you want to see / ask :thinking:

[2019-11-03 15:47] knasti commented on #7
I love it, and your style guide is very valuable to me. It makes me feel in control of my code, which in return makes it much more pleasant to code and add features to my projects.

I can't think of anything to add to the style guide off the top of my head, but I did wonder what your take is on using keywords in Django's ValidationErrors. In my project I added "status_code" to my body of exception

[2019-11-03 18:31] RadoRado commented on #7
@knasti That's an important topic. DRF handles those errors quite specifically and usually every project needs a custom way of structuring the error responses.

We have a large chunk of code to handle this, but it's currently untested & quite messy (although - working pretty good)

I'll open another issues about that and try to push something.

As for the particular question - not sure why this is

[2019-11-03 18:32] RadoRado opened #31 "API response structure"
It's a good idea to add few words about how to structure API responses so they are consistent.

This also includes:

* Working with filters
* Pagination
* How to properly format error responses

[2019-11-05 13:55] knasti opened #32 "Missing __init__ in models and selectors test directories"
I was going over my tests as I want to move them to the structure you propose. In the picture you have there's no __ init __.py under models and selectors. I imagine this isn't intentional. At least my IDE (PyCharm) couldn't find the tests if __ init __.py isn't present. I know this is a tiny thing, but it had me tricked for a while.

![image](https://user-images.githubusercontent.com/21027620/682

[2019-11-07 10:09] knasti commented on #7
@RadoRado I have been thinking on a couple of things that could be mentioned. I'm not sure it belongs in a StyleGuide, but I'll give it a go, and then you can help evaluating if it belongs or not.

 - Signals (When to use them and where to place them)
 - Middleware (When to use, and where to place them)

Also, I can see that you use a customized Object Manager in the Course class, what do you use

[2019-11-12 13:27] wencakisa commented on #32
@knasti You're right.

We've missed that. I've just opened a PR which adds the missing files.

Thanks for contributing. :+1:

[2019-11-12 13:29] #32 closed

[2019-11-22 11:08] hgylfason opened #34 "Instance or id arguments for services?"
For services with arguments that represent model instances (e.g. ids) do you have a preference for whether to give the whole instance as argument or the instance's id?

[code]

[2019-11-22 11:34] RadoRado commented on #34
@hgylfason That's a good question.

We have projects where we accept ids & fetch the object afterwards, and projects where we accept the instances. Depends on the context.

My personal preference is:

1. Always accept instance in the service.
2. Do `get_object_or_404` / use `PrimaryKeyRelatedField` in the API to obtain that instance.

Unless you have a good reason to do otherwise, I think that's a

[2019-11-27 19:55] RadoRado commented on #7
@knasti Adding examples for signals & middlewares is a good idea. Will open issues for that.

Tests for API / views also.

About custom managers, I'm a bit on the fence for that. There's a case where you can achieve the same thing with class/static methods & custom managers / querysets & everything would look great.

For me, a manager has a 1:1 relation to the ORM object & if I don''t want to infl

[2019-12-01 19:28] Atorich opened #36 "API views & urls"
Hi there!

First of all, I would like to say thanks for the great idea of how to organize complex things.

But I want to share some thoughts about the way to organizing views & urls.

I have found the proposed approach to register views not quite RESTful because of
`/update` & `/create` aren't resources.

DRF's viewsets introduce a great way to do that but using them out-of-the-box contradicts to

[2019-12-02 09:53] RadoRado commented on #36
@Atorich That's a smart proposal! Thanks for taking the time :bowing_man:

One of the things we try to avoid in our projects is using the router to automatically generate URLs. We have our reasons & one of the main is "greppability" (or ease of searching for something)

That said, for the folks that like to keep their URLs more RESTful, that's a good approach.

I'll give it a go & extend the style

[2019-12-02 10:53] Atorich commented on #36
Please, don't hurry with it. There are still some not solved issues.

One of them: this approach breaks DRF api-docs because it is expected that every viewset has `get_queryset` method (or `queryset` property) and `get_serializer` method (or `serializer_class` property) are defined.

The quick solution is to pass something to the factory,
for example:

[code]

but it's rather ugly

[2019-12-02 16:35] Atorich commented on #36
https://gist.github.com/Atorich/8e3ca27808c9f64615663ff2d1ee0bba
the last version of the solution

[2020-01-08 13:52] rrhubenov opened #37 "Global exception handler"
Hi guys, great style guide ♥️!

I just wanted to propose an addition to the exception handling in the APIs section.

Using mixins is a great way to minimize code duplication but that means that all the APIs must inherit from the same mixin every time. To optimize even further a global exception handler can be used as described here -> https://www.django-rest-framework.org/api-guide/exceptions/#cus

[2020-01-19 13:46] RadoRado commented on #37
@rrhubenov Thanks for the proposal! That's a smart approach. If you care to open up a PR and add this, it'd be great.

On the lines of global exception handler, I just merged #38 , where we use exactly that, to provide custom formatting for our exceptions. If you want, check it out & build on top of that idea.

One personal thing about the global exception handler: You may want to have the flexibi

[2020-01-19 13:47] RadoRado opened #39 "Add tests & refactor `ErrorsFormatter`"
#38 Included the idea for an errors formatter class, to provide a common way for formatting errors.

The implementation is a bit rough & can use tests & after this - a bit of refactoring.

[2020-02-24 06:01] funkindy commented on #23
Hi, great guide! Does this mean that Odin repo is now not supposed to be the demo project of this style guide?

[2020-03-13 18:17] sobolevn opened #40 "Consider using django-stubs"
Hi! Thanks for this awesome guide!

I see that you use type annotations with querysets and django.
I suggest to give https://github.com/typeddjango/django-stubs a try.

It support real QuerySet and model annotations. So, you won't use `-> Iterable[MyModel]` where `QuerySet[MyModel]` should be used.

[2020-03-15 12:47] RadoRado commented on #40
That's a good idea. Will give it a try :+1:

[2020-03-15 13:05] RadoRado commented on #23
@funkindy Odin repo was the initial example project, but we no longer support it.

I'm currently working on a better example & due to Corona situation, we should have something available soon.

[2020-03-19 17:25] JuanPabloRN30 opened #43 "Problem with exceptions inheritance"
Hi,

I'm using your APIErrorsMixin and I found a little issue with the inheritance of an exception.

For example
[code]

I'm going to catch all child exceptions of BaseException so I should put on expected exceptions the BaseException

[code]

[code]

If I raise the ProblemException, you're getting the exception using the class `expected_exceptions[exc.__class__]` and the result is a KeyError.

Th

[2020-03-22 19:01] carlosnasillo commented on #23
This would be amazing @RadoRado

Honestly I've been in tutorial hell in the past weeks, seeing with overly simple examples, with no attention to writing scalable software, let alone leveraging good design patterns.

Came across your presentation on [EuroPython Conference](https://www.youtube.com/watch?v=yG3ZdxBb1oo) and it was fenomenal.

[2020-03-25 21:18] juanpsenn opened #45 "inline_serializer in an OutputSerializer implementation"
I'am having troubles with the inline_serializer for an OutputSerializer, let's suppose i have the following models:

How can i implement an OutputSerializer if i want to show in depth attributes from B model and not C; here it is an example of a desired json response for class A serializer:
`{
   "att_1":1,
   "model_b_reference":{
      "att_1":1,
      "att_2":2
   },
   "model_c_reference":1
}`

[2020-03-26 10:25] pgergov commented on #45
Hello @juanpsenn :wave:

Here's how you can achieve the desired result:

[code]

Please follow up if this solution works for you or if you have any other questions :beers:

[2020-03-26 11:57] juanpsenn commented on #45
Yeah that's exactly what I've been looking for! Thanks you very much!

[2020-03-26 11:57] #45 closed

[2020-03-30 16:39] Mateusz-Slisz opened #46 "Handling with complicated data & nested resources"
Hello, first of all, I think you have been doing a great job with styles for Django. However, I'm curious what do you think about the below concepts:

1. Large serialization, exactly creating/updating objects from complicated data. As I can see there is an example of very simple cases. I would like to know how you handle complicated services with many arguments (maybe you use domain entities to si

[2020-04-23 10:35] wencakisa commented on #43
Hi, @JuanPabloRN30 !

Thanks for flagging the problem and opening the issue. 🙇

---

In fact, this is really a problem of the exception handler implementation. What you have proposed is a potential fix of this bug. What we've come up with is a more extensible solution, using Python's [**Method Resolution Order** (`mro`)](https://docs.python.org/3/library/stdtypes.html#class.__mro__). 💡

As stated

[2020-04-27 09:59] pgergov opened #48 "Add section about logging"
Good reads:

* https://docs.djangoproject.com/en/3.0/topics/logging/
* https://docs.python.org/3/library/logging.config.html#logging-config-dictschema

[2020-05-10 17:46] akx opened #49 "Nullable URL fields?"
Why are some of the URLs in the example model `null=True`, while others are not?

[code]

After all, in general it's considered bad practice to have string fields with two distinct falsy values (`''` and `None` for a nullable string) unless being able to differentiate between "no value set" and "empty value set" is a business requirement, or there's an uniqueness constraint on the field.

[2020-05-31 09:45] idoob commented on #14
Hi @RadoRado ,

I have the same question regarding the use of POST instead of PUT/PATCH. Mokubyow asked this in his original post but it wasn't addressed. Can you explain why the guide suggests using POST for updates instead of PUT/PATCH? I'm curious how you are handling full and partial updates of a resource.

Thanks!

[2020-06-20 04:33] JuanPabloRN30 commented on #43
Hi,

It's fine, sounds good and I'm going to use your solution.

Thanks!.

[2020-06-20 04:33] #43 closed

[2020-06-23 08:31] klmjoi opened #50 "services and tasks import loop"
Thanks for your great guide, inspired me a lot!

I'm a bit confused about two examples about services and tasks.

A. `app/services.py` via https://github.com/HackSoftware/Django-Styleguide#example-services
[code]

B. `app/tasks.py` via https://github.com/HackSoftware/Django-Styleguide#celery

[code]

In example A, services call Celey task to execute one background task. In example B, one task is `

[2020-06-23 10:20] wencakisa commented on #50
Hi, @klmjoi 👋 . Thanks for flagging a problem and opening this issue. 🙏

---

Typically, when we have this circular import issue with services & tasks - we import the service function **inside** the task function:

[code]

This way, you prevent the circular import and everything works as expected.

---

We will definitely add a note about this in the style guide because it's a very common use case

[2020-06-24 03:17] klmjoi commented on #50
Thanks @wencakisa.

This workaround is good. However, is it anti-pattern, like PEP 8 (`Imports are always put at the top of the file`)?

Is it better to refactor `services.py` and `tasks.py` to avoid importing each other?

Thanks.

[2020-06-24 07:55] wencakisa commented on #50
@klmjoi You're right.

We're violating PEP8 on very rare occasions - and this is one of them. Even if you're not using the architecture suggested by the style guide, you can still have the problem with files importing each other.

Of course, in the common case, this is a signal that the architecture needs to be tweaked a bit in order to avoid circular imports. As the style guide is dynamic and we

[2020-07-14 08:13] psmolak opened #52 "Celery schedule objects"
According to https://django-celery-beat.readthedocs.io/en/latest/ if we have multiple periodic tasks executing i.e every 10 sec, then they should all point to the same schedule object. Inside the source code of `setup_periodic_tasks.py`, we create new schedule object each time using `.create` instead of `get_or_create`.

Not sure if this has any significance on beat scheduler correctness but decid

[2020-07-23 15:17] jsandovalc opened #53 "Question about: InputSerializer should always be a plain Serializer"
Hi,

Thanks for the styleguide. I have a question, what is the reason to indicate that the `InputSerializer` should always be a plain `Serializer`?.

[2020-07-23 20:09] RadoRado commented on #53
@jsandovalc A plain `serializers.Serializer` makes the most sense since we want to avoid the side effects of a `ModelSerializer` saving an object to the database, but, of course, you can use whatever makes sense for you :+1:

Again, the idea is to be clear about what's happening & to be consistent with the approach for those certain cases.

I'd like to see an example where you use a `ModelSerializ

[2020-07-24 14:54] jsandovalc commented on #53
@RadoRado you mean a `ModelSerializer` automatically saves an object to the database?. I understand that after the call to `is_valid()` you can call `save` in the `ModelSerializer` to store it, but it has to be explicitly called.

I made some quick tests and that seems to be the case.

I personally have not used `ModelSerializer` for the `InputSerializer`, but by checking PRs with a colleague, we

[2020-08-28 03:06] whatseria opened #55 "Why does the functions have an unused * arg?"
Sorry about the dumb question, I couldn't find an answer.

Example:
[code]

[2020-08-28 06:39] wencakisa commented on #55
In Python, the `*` arg means:

For example, you **can** call the function like:

[code]

but you **cannot** call it like:

[code]

Here's the official Python documentation for this: https://www.python.org/dev/peps/pep-3102

:v:

[2020-08-28 06:39] #55 closed

[2020-09-16 13:21] RTS340 opened #57 "Handling updates in the service"
From looking through your guide I am trying to understand how you would handle updates within a service. From your example below:

[code]

You advocate using keyword-only arguments so I would assume the method definition would be as so:

[code]

In your input serializer not all fields are required, so they may not be available when calling the course_update from the API using the serializer data.

[2020-09-17 10:49] Kiel-Hyre opened #58 "Question: What is the get_course contains?"
I browsing in the guide and found the code block.

[code]

And I'm wondering what does that get_course contains

I believe that get_course will be in selectors.py

and so

selectors.py
[code]

[2020-09-21 09:48] RTS340 commented on #58
Hi,

As a service is not tied HTTP requests I would be inclined to say do not raise a `HTTP404`.

If you are using the full guide, there is a section on handling [Excelptions](https://github.com/HackSoftware/Django-Styleguide#exception-handling). This means you can raise whatever error you think is right at the service and convert it to one that is understandable from the rest framework.

Hope thi

[2020-09-21 13:20] jsandovalc commented on #58
@RTS340 would you be against returning `None` in the except clause?.

[2020-09-21 16:24] RTS340 commented on #58
I would say returning `None` is fine, totally up to you in that scenario. Would just mean you need to handle the `None` in the calling code.

I would use type hints to state it can return a `Course` or `None` i.e. Optional[Course]. To help understand what the function can return.

The only other observation from the selector snippet above would be, passing a default value for the `id` should not b

[2020-09-22 00:30] #58 closed

[2020-10-03 20:22] RadoRado commented on #57
Hello @RTS340 and thanks for the question.

Our styleguide needs updating around how to handle updates.

Here's an example update service, the way we usually write it:

[code]

On the API side:

[code]

Hope that answers your question.

It's a pattern that we commonly use & it's quite flexible.

[2020-10-05 16:09] RTS340 commented on #57
Thanks for the response.

We have actually implemented a generic update function as you have mentioned above which seems to work nicely.

We are thinking of implementing a couple of dedicated update functions for single field operations we are performing multiple places throughout the code base. i.e.

[code]

This is just a thought but the generic update seems to be the best approach to handle all

[2020-10-08 09:29] thommor commented on #50
The way we worked around this is to use Django's [import_string](https://docs.djangoproject.com/en/3.1/ref/utils/#django.utils.module_loading.import_string) utility function which works the same as importing the task inside the service function and doesn't break PEP8 or Black etc.

We have a simple util function, something like:
[code]

Then in your service you can call:
[code]

[2020-10-08 15:00] RTS340 opened #59 "How to handle pagination, filtering and ordering"
In my current project I have used selectors as defined in the guide.

I was wondering how you have implemented pagination, filtering and ordering. Normally when using rest framework this is done within the api by using the ListModelMixin, which under the hood will perform these on the queryset provided.

Do you handle these within your service instead or do implement a mechanism in the API like Li

[2020-10-08 20:04] RTS340 commented on #31
@RadoRado Do you have any examples of how pagination and filters are performed in your projects.

Do you handle these within your selectors by passing arguments or do implement `GenericAPIView` so you can use the built in pagination and filtering mechanism and use your selectors within the `get_queryset`

cheers

[2020-10-08 20:08] RadoRado commented on #59
@RTS340 Yep, we have some specific ways of handling it. It should end up in the https://github.com/HackSoftware/Styleguide-Example at some point

[2020-10-08 20:34] #57 closed

[2020-10-08 20:35] RadoRado commented on #57
@RTS340 makes sense :+1:

Cheers!

[2020-10-09 08:58] thommor commented on #59
Can you give us a clue on how you're handling it?

[2020-10-09 23:54] aesfur opened #60 "Exception handling and nested serializer with many=True"
There are the following serializers:

[code]
Or

[code]

I expected the following error formatting on an invalid request:
[code]
But I got:
[code]
What's wrong? thanks

[2020-10-13 20:25] RTS340 opened #61 "Error response when raising non field validation errors"
Through using the guide I have implemented some model specific validation as recommended. I.e.

[code]

After setting up the custom Exception Handling and Error Formatting I have noticed the output won't be:

[code]

But instead:

[code]

I assume that the field should be removed from the response if the validation is a non field error?

If this is the case it is down to `key_is_non_field_errors =

[2020-10-14 10:53] sumit4613 opened #62 "How to use selectors in APIs"
Your style guide suggests that model properties should be written as selectors when properties spans multiple relations.
My query is that model properties can be easily written to fields in model serializers but how can I use these selectors with API views or serializers.

An example snippet of the possible scenario can help here.

Thanks!

[2020-10-16 09:27] wencakisa commented on #60
Hi, @aesfur !

Your serializers' structure looks valid, but it seems that you're not using the [`ErrorsFormatter`](https://github.com/HackSoftware/Django-Styleguide/blob/d1cf996a5e97f825f59010c16f69945ef3600d56/utils.py#L67), documented in the [Error formatting section](https://github.com/HackSoftware/Django-Styleguide#error-formatting).

This, combined with the mechanism explained in the [API exc

[2020-10-16 09:27] #60 closed

[2020-10-16 09:34] wencakisa commented on #50
@thommor This is neat.

We will try this and decide whether to do it this way from now on, rather than using inline imports.

In the meantime, feel free to open a PR with as a proposal and label it with `Point of view` so we can forward the discussion there.

Cheers! :raised_hands:

[2020-10-16 09:34] #50 closed

[2020-10-16 09:46] aesfur commented on #60
@wencakisa Hi!

I use the [formatter](https://github.com/HackSoftware/Styleguide-Example/blob/2f82daf28d7d3ed3d454adf33c528f6bf9b09c4e/styleguide_example/api/errors.py#L37) from example.
But the examples above are not formatted correctly

 Only this works as expected:
`items = serializers.ListField(child=ItemSerializer())`

[2020-10-16 10:07] wencakisa commented on #62
Hi, @sumit4613 !

Let's say we have these models:

[code]

We have a `School`, in which we can add many `Student`s and `Course`s. Each `Student` can be **enrolled** in a certain `Course` via the `StudentCourseEnrollment` model.

---

Now, it depends on your exact use case.

If you just want to serialize spanning relations with no extra data (e.g. annotations/aggregations), you can directly write t

[2020-10-16 10:16] wencakisa commented on #49
Hi, @akx !

You're right, setting both `blank` & `null` to `True` on `CharField` and its derived classes is not considered a good practice.

We're actually using it as stated in [**Two Scoops of Django**](https://www.feldroy.com/products/two-scoops-of-django-1-11):
![](https://i.stack.imgur.com/TMMej.png)
![](https://i.stack.imgur.com/gUanA.png)

Thanks for noticing this in our guide, we'll change

[2020-10-18 16:16] #49 closed

[2020-10-18 16:22] RadoRado commented on #62
Leaving this open since it's a nice example to include in the styleguide

[2020-10-18 16:28] RadoRado commented on #61
@RTS340 Thanks for opening this.

The errors formatter needs a revisit from us.

That's why we started the https://github.com/HackSoftware/Styleguide-Example project, where the error formatter can be covered with tests && reworked to something more readable.

This kind of error, we usually treat as "General error" and if it's tied to a form, we display this someone central, instead next to the fie

[2020-10-18 16:28] RadoRado commented on #39
This is now something to be taken care of here - https://github.com/HackSoftware/Styleguide-Example

[2020-10-18 16:28] #39 closed

[2020-10-18 16:30] RadoRado commented on #23
@carlosnasillo Sorry for the long-delayed response. We are actively running without any notifications.

This is the example project that we are currently working on - https://github.com/HackSoftware/Styleguide-Example

Should be updated each week with something small.

Until then, if you have a specific question, just open an issue here

[2020-10-18 16:30] #23 closed

[2020-10-18 17:19] RadoRado commented on #31
@RTS340 Here's an example of a list API with filtering + pagination, matching the styleguide: https://github.com/HackSoftware/Styleguide-Example/pull/11

It's still work in progress (need to write tests), but the general idea is there.

[2020-10-18 17:19] RadoRado commented on #59
@RTS340 @thommor

@RTS340 Here's an example of a list API with filtering + pagination, matching the styleguide: https://github.com/HackSoftware/Styleguide-Example/pull/11

It's still work in progress (need to write tests), but the general idea is there.

[2020-10-18 18:57] RTS340 commented on #61
Thanks for the reply.

Raising field related errors works perfect and the formatting works as expected.

When raising a validation error from within the api like in your tests (https://github.com/HackSoftware/Styleguide-Example/blob/master/styleguide_example/api/tests/mixins/test_api_errors_mixin.py#L12), it responds with the correct output:

[code]

But when raising a 'general error' from within

[2020-10-20 12:53] sumit4613 commented on #62
@wencakisa Thanks, for a well explained example. There's one more thing i need to ask, can we acheive the same thing with model serializers???

[2020-10-21 08:33] wencakisa commented on #62
@sumit4613 Yes, you can use `ModelSerializer` & specify the "special" fields explicitly (in the case with the annotations for example):

[code]

[2020-10-25 10:37] RadoRado commented on #59
Okay, now the styleguide itself is updated  - https://github.com/HackSoftware/Django-Styleguide#filters--pagination

Closing this issue :vulcan_salute:

[2020-10-25 10:37] #59 closed

[2020-10-25 10:40] RadoRado commented on #31
This is 1/2 done now - https://github.com/HackSoftware/Django-Styleguide#filters--pagination

[2020-10-25 10:45] RadoRado commented on #46
@Mateusz-Slisz Thanks for the question.

Few points:

1. If you use non-plain serializer for `InputSerializer`, this sounds like you plan to use that serializer to create the object. This is something that we don't do & rather use the service layer for object creation. That said - I see no reason to use `ModelSerializer` for that.
1. If you have a service with many arguments, you might take the ap

[2020-10-25 10:46] RadoRado commented on #53
@jsandovalc If you are not using the `.save()` part of the model serializer, I personally see no reason to use it at all.

This is part of the philosophy to not use additional layers of abstraction, if you don't actually need them.

Cheers!

[2020-10-25 10:46] #53 closed

[2020-11-05 05:06] SafaAlfulaij opened #65 "Schema Documentation"
This seems like a good styleguide.
How do you handle proper schema documentation similar to how viewsets generate the schema?

[code]

As well as proper filtering and ordering options. (using a serializer for filtering is awesome idea, but schemas don't understand that)
Thanks.

[2020-12-17 05:45] charanjit-singh opened #66 "How and Where to add Permissions?"
For Eg:
We have permission:
Only user can access to this resource, where and how to create the permission: `can_access_resource(user)`?

Currently, I am doing it in selectors it returns true or false and depending on that I raise an exception in Services.

[2020-12-17 11:41] RadoRado commented on #66
@charanjit-singh Hello :wave:

Permissions are also part of the "business logic", so you can handle them via services & selectors.

Even if you decide to use Django's permission system, you can import the correct models & implement a layer around them.

Quick example for an approach:

* Introduce a `permissions` app
* Introduce `user_has_permission` service, for example
* Implement it however it's

[2020-12-21 14:04] thommor commented on #65
We went down the route of having seperate API Views and tried bringing them together into a single view but as you described that does not work well with API schema generation.

We ended up defining seperate APIs (list, retrieve) etc and then bringing them together into a ViewSet. This may be abit more longwinded but maintains that full seperation but gives schema generators more chance to documen

[2020-12-30 00:23] jsandovalc opened #67 "Handling multiple OutputSerializers"
Hi,

A general use case for the product I'm building is returning different information for an endpoint depending on the type of user querying it. Before adopting this styleguide we handled this by creating different serializers and using them according to the user making the request.

How do you handle this use case?. Creating multiple OutputSerializers inside the view kind of pollutes it. Or may

[2020-12-30 09:36] RadoRado commented on #67
@jsandovalc Hello & thanks for the question.

The way you've described it sounds like you can approach things as follows:

[code]

Now, how you handle things in `some_user_related_selector` is up to you. If you are returning 4-5 fields for the user, I'd even go as far as just returning a plain dict & skipping serializers altogether.

If things are more complex, you can easily define different seri

[2020-12-30 12:37] jsandovalc commented on #67
Thanks for your answer!!

[2020-12-30 12:37] #67 closed

[2021-01-18 08:07] charanjit-singh opened #68 "Unable to generate schema"
[code]

[2021-01-18 08:09] charanjit-singh commented on #68
![image](https://user-images.githubusercontent.com/23359602/104888305-9122b400-5992-11eb-8dd4-7a79b75dbe27.png)

Unable to get the required function.
Is it DRF issue or we're missing something in `APIDocsMixin`?

[2021-03-18 13:39] jsandovalc opened #70 "How do you handle ordering?"
Hi, and thanks for the great work with the styleguide.

I was wonderig how is the recommended way to handle ordering according to the styleguide. I see filtering and pagination is specified, but not ordering. Should it be handled as a query_param with the FilterSerializer? In that case, I guess it's just a param to be taken out inside the service and used for ordering.

Thanks again.

[2021-03-18 14:38] martin056 commented on #70
Hi, @jsandovalc Thanks for the question!

There are 2 general approaches here which depend on what do you use in your project.

Approach 1: Add a separate `OrderingSerializer` to your API that is responsible for the ordering. This serializer usually has only one field.
Approach 2: You can use the [OrderingFIlter](https://django-filter.readthedocs.io/en/stable/ref/filters.html#orderingfilter) from

[2021-03-18 14:52] jsandovalc commented on #70
Thanks for your kind (and fast) answer. All of you make a great job mantaining the styleguide.

[2021-03-29 14:28] JuanBenitezDev opened #72 "Why the InputSerializers should be always be a plain Serializer?"
Hi, firstly, I want to say thanks for the great work with the style guide.

I was wondering why do you say that the InputSerializers should always extend from the plain Serializer, aren't you losing all the validations and other benefits we can obtain using a ModelSerializer in this case?

Thanks again.

[2021-03-29 14:40] JuanBenitezDev commented on #72
I'm closing this because it was already answered, thanks anayway,

[2021-03-29 14:40] #72 closed

[2021-04-03 12:33] quinceleaf commented on #57
Thank you both @RadoRado  @RTS340! I've been meaning to post this very question for the past week, glad I found this!

[2021-06-14 17:20] HMaker opened #73 "Why don't use Managers for services and QuerySets for selectors?"
Hi, this project is a good initiative to incentive high quality software building with Django, but I wonder why procedural-like programming is used for services & selectors layer when Django itself uses an object-oriented approach with Managers and QuerySets.

[2021-06-14 17:27] RadoRado commented on #73
@HMaker Hello :wave:

The answer is simple:

Services & selectors usually span across multiple models & boundaries. They are more related to the business domain, rather than to a specific model.

That's why coupling things with your specific model managers & querysets does not look like a good idea to us.

That said, you can take an object oriented approach with your service & selectors. We've giv

[2021-06-14 17:39] HMaker commented on #73
yes, when operations spans over multiple models we can use a command-like approach (known more as Use Cases) that can be either object oriented or procedural, advantage of object oriented is that it's easier to extend later.

[2021-06-14 17:39] #73 closed

[2021-06-15 00:03] kareemcoding commented on #9
Hey @RadoRado just wanted to ask if you've evolved your thinking around GraphQL for this style guide.

We're building both a REST and GraphQL API for our new platform and have been using this style guide religiously for REST but we're not too sure how graph will fit into it.

[2021-06-15 06:38] RadoRado commented on #9
@kareemcoding Hello :wave:

We haven't got the change to really test GraphQL in a production app, so keep that in mind.

My take would be:

1. For selectors, as far as I understand, the control is on the frontend for what to include. What you can do is to define a custom query type, which only has one field called `data` (for example) and then define a custom resolve to fetch whatever you need. Of

[2021-06-17 08:31] nico-deforge opened #74 "[0] is missing in _get_response_json_from_error_message"
Hello,

First, thank you for your styleguide, it helps me to be a better Django developer.

I am particularly interest by your custom error formatter and I think i have found a bug.

I think [0] is missing in _get_response_json_from_error_message

It is not bas because it works but mypy raise an exception.

[code]

If it could help you, i will be happy.

[2021-06-23 14:35] EvgenyBorisov opened #76 "Where to place the prefetch_related/select_related and similar functions."
Hi thank you so much for Styleguide.
You can tell us where to place the working with database optimization logic. For example, prefetch_related/select_related?

An example snippet of the possible scenario can help here.

Thanks!

[2021-06-23 19:41] catalincoroeanu commented on #76
Best place to put that would be inside **selectors**.
For every case adapted.
...although you might think on a short term is not DRY to have similar ``select_related`` inside multiple selectors...on a long run the explicit duplication will pay off... the same principle it is applied also for the ad-hoc serialisers from the views.

[2021-06-25 07:03] masdot opened #77 "Where to put a custom id property?"
For my project I need a user defined id. I currently create this with a @property but I have a hard time with this because this property also queries previous records for ids like: 20210001, 20210002, (...), 20220001

Would you leave this as property or what would be your alternative?

[2021-06-25 07:08] RadoRado commented on #77
@masdot :wave:

Can you expand a little bit more - perhaps with an example of what you are trying to achieve, so I can help you better?

Cheers!

[2021-06-25 07:15] masdot commented on #77
@RadoRado 🤝

Yes, of course! Sorry if I have expressed myself inaccurately.

I need some kind of custom ID or numbering for my project.  This needs to be built according to the scheme '<year><ascending number>'.

This numbering is based on the records, which means that the creation date of the record is the basis for generating the numbering. For example, the records in 2020 are

and in 2021

Howe

[2021-06-25 07:16] RadoRado commented on #76
@EvgenyBorisov :wave:

I'm glad you find the styteguide useful. That's the main ide :raised_hands:

As @catalincoroeanu mentioned, you can put those optimizations in the respective selectors.

But I'll go one step further and show you how we do it in more complex scenarios (should be added to the styleguide soon).

Lets imagine you have a selector that returns a list of things:

[code]

And you li

[2021-06-25 07:18] RadoRado commented on #76
BTW if you end up needing this selector in other places & you need to have an "optimized" queryset, you can always do an intermediate `some_object_prepare` / `some_object_optimize` which does whatever the serializer does, but without the serialization.

[2021-06-25 07:19] RadoRado commented on #74
@nico-deforge Thanks for this!

To be honest, this error handling is a leftover artifact from older projects.

We need to step in & update it with what we are currently using.

So thanks for bringing this up, we should get up to speed.

[2021-06-25 07:22] EvgenyBorisov commented on #76
Thanks for your answer!!!
:smiley:

[2021-06-25 07:22] #76 closed

[2021-06-25 08:39] nico-deforge commented on #74
Ok, I will be happy to discover what you are currently using because I like the way you are designing django apps :)

[2021-06-25 08:39] #74 closed

[2021-07-01 15:12] masdot commented on #23
Thank you very much for this styleguide. I really like your way of designing Django apps!

Could you please add an example of an UpdateAPI to the styleguide. I am learning Django and after many attempts I fail to write a correct service that updates a model.

[2021-07-01 15:14] masdot commented on #23
@RadoRado should I leave my request here as a comment, or would it be better for you to open a new issue?

[2021-07-27 18:25] thomas545 opened #78 "Why i have to use drf APIs with nested serializer?"
if I used a nested serializer in API views is that doesn't bad for performance, code design, and clean code approach ??!!

[2021-07-30 06:19] RadoRado commented on #78
@thomas545 Hello :wave:

You need nested serializers when you have nested data, that you want to serialize. This does not necessarily impact performance (unless you start making N+1 queries in the nesting).

Otherwise, about your approach, it sounds reasonable to me. If you can elaborate more, with an example, I can be more helpful.

Cheers :v:

[2021-08-02 18:58] thomas545 commented on #78
@RadoRado Thanks for your interest and response.

My approach that I mean, I want to make serializer in `serializer.py` file with unique serializer name
and call it in views like:

-> serializer.py
`
class CreateUserSerializer(serializers.Serializer):
`
`
    username = serializers.CharField()
    email = serializers.CharField()
    ....
`

-> views.py
`
from app.serializers import CreateUserSeria

[2021-08-03 07:47] RadoRado commented on #78
@thomas545 If the approach that you presented suits you & your team better, you should use it.

What we've suggested in the styleguide is something that works well for us.

Cheers :v:

[2021-08-05 09:09] thomas545 commented on #78
@RadoRado

My question is:
Does this affect performance or clean code approach?

Cheers

[2021-08-05 16:31] jsandovalc opened #79 "Creation services with many fields in the model"
Hi everyone,

I noticed that for updating, it's recommended to use a data dict with the fields to update (https://github.com/HackSoftware/Django-Styleguide/issues/57). I was wondering if you do something similar with creates. I have a creation service with a lot of fields, and it the method signature gets really long.

Do you do something similar to updates?

Thanks.

[2021-08-06 09:21] kdkocev commented on #78
Note that using an inline serializer is useful when that serializer is only used to parse, validate or serialize data.
If you want to change or create data in the database (like the CreateUserSerializer is likely doing) you should use a serializer that is not for code separation concerns.

The logic that does changes to the database, or gets data from the database (the business logic) is extracted

[2021-08-07 12:07] thomas545 commented on #78
I got it, Thank you very much

[2021-09-01 19:26] Reston opened #81 "Imports services or selectors from another app, best way?"
Hi I wanted to ask what would it be the best way to handle a situation when you have, let's say, 3 to 4 apps in your Django application

But then you'll need information from 2 apps that'll provide information for an endpoint

So where this new selector should be located?

New app that would read selectors from app 1 and 2, and then provide the information merged with an endpoint there acting like

[2021-09-16 10:37] RadoRado commented on #81
@Reston That's a good question.

I'd say, wherever you put the endpoint, you should put the selectors there too. If you don't have a name for that yet (like what's the business entity for that?) - it's not a problem.

Put it wherever it makes sense the most. You can always move and refactor after that.

[2021-09-16 10:40] RadoRado commented on #79
@jsandovalc Hello :wave:

If it makes sense to pass a data dictionary for something that needs to create an object with a lot of fields - do so.

The general rule of thumb is to have a strictly-defined list of possible fields, so you don't just do:

[code]

but rather:

[code]

[2021-09-16 10:41] RadoRado commented on #78
Closing this for now :raised_hands:

[2021-09-16 10:41] #78 closed

[2021-09-16 10:44] RadoRado commented on #77
@masdot Sorry for the late answer! Catching up with the issues.

This sounds more like a database field and not a property.

And in order to generate sequential numbers, you might want to look into some kind of table locking or using F expressions ( https://docs.djangoproject.com/en/3.2/ref/models/expressions/#f-expressions )

Especially if you want to search or sort by those ids.

If you need the

[2021-09-16 10:48] RadoRado commented on #68
@charanjit-singh Sorry for the late answer.

We did struggle a bit with automatic schema generation & ended up with manually writing schema after that.

I'll close that for now & add a new issue to revisit the entire "Swagger from API" generation approach.

[2021-09-16 10:48] #68 closed

[2021-09-16 10:48] RadoRado opened #82 "Revisit `ApiDocsMixin` and automatic schema generation"
- Do we want to support that?
- Isn't it better to manually write the schema?

[2021-09-16 10:50] RadoRado commented on #65
Hello everyone,

I'll refer that issue in #82 since we discontinued the internal use of the `ApiDocMixin`

Also https://drf-spectacular.readthedocs.io/en/latest/ looks quite promising.

[2021-09-16 10:50] #65 closed

[2021-09-16 10:51] RadoRado commented on #66
Closing this for now :raised_hands:

[2021-09-16 10:51] #66 closed

[2021-09-16 10:58] RadoRado commented on #62
I'm closing this for now :raised_hands:

[2021-09-16 10:58] #62 closed

[2021-09-16 11:04] RadoRado commented on #61
@RTS340 This may be really late, but if you do:

[code]

you might end up with the proper formatting.

Cheers!

[2021-09-16 11:08] RadoRado commented on #52
@psmolak That's actually a good catch.

To be honest, we haven't used anything outside a cron schedule & we haven't got any problems with different schedule objects that contain the same cron.

But I'll add a reference to the Celery documentation there, so people can pay attention.

Cheers!

[2021-09-16 11:08] #52 closed

[2021-09-16 11:14] RadoRado commented on #52
Added - https://github.com/HackSoftware/Django-Styleguide/commit/c63b60ff7dac791d3e68703c4587fa86858d5602

Thanks again & sorry for the late response.

[2021-09-16 11:18] RadoRado commented on #46
Closing this for now :raised_hands:

[2021-09-16 11:18] #46 closed

[2021-09-16 11:19] RadoRado commented on #16
Closing this in favor of #82

[2021-09-16 11:19] #16 closed

[2021-09-16 11:25] RadoRado commented on #34
Closing this for now :raised_hands:

[2021-09-16 11:25] #34 closed

[2021-09-16 15:08] masdot commented on #77
Thank you! 🙏

[2021-09-16 15:08] #77 closed

[2021-09-16 18:26] Atorich commented on #34
Why not to use something like:

[code]

and the usage:

[code]

[2021-10-09 12:19] RadoRado opened #85 "Update service"
Add an example for an update service.

Can also use this - <https://docs.djangoproject.com/en/3.2/ref/models/instances/#specifying-which-fields-to-save>

[2021-11-16 14:26] RadoRado commented on #81
Closing for now :v:

[2021-11-16 14:27] RadoRado commented on #79
Closing for now :v:

[2021-11-16 14:27] #79 closed

[2021-11-16 14:28] RadoRado commented on #70
Closing for now :v:

[2021-11-16 14:28] #70 closed

[2021-11-16 14:30] RadoRado commented on #61
Closing this for now :v:

[2021-11-16 14:30] #61 closed

[2021-11-22 09:56] RadoRado commented on #37
@rrhubenov We finally got to the exception handling & updated the styleguide accordingly - https://github.com/HackSoftware/Django-Styleguide#errors--exception-handling

Would love  to have your opinion on that :pray:

[2021-11-22 09:56] RadoRado commented on #31
This is 2/2 done now - https://github.com/HackSoftware/Django-Styleguide#errors--exception-handling

[2021-11-22 09:56] #31 closed

[2021-12-06 13:58] RadoRado commented on #37
(Closing for now, in case there's any new input, feel free to reopen)

[2021-12-06 13:58] #37 closed

[2021-12-18 17:08] farzeni commented on #85
Hi,

The most obscure thing I'm facing about updates is how to structure services arguments to handle partial updates.

Following the create approach
[code]
makes it  mandatory to update all fields each time

instead using something like
[code]

[2022-01-12 08:45] RadoRado opened #90 "Django Styleguide Survey: Feedback"
A collection if things to address, based on the feedback from the survey we are running - https://www.hacksoft.io/blog/django-styleguide-survey:

- Explain why we are not following strict REST
- Explain why we are approaching this with a service layer & not custom model methods / custom managers & querysets
- Working with M2M fields (services, selectors) :thinking:
- pre-commit hooks :thinking:
-

[2022-01-15 14:28] RadoRado commented on #40
This is going to be introduced to the example project: https://github.com/HackSoftware/Django-Styleguide-Example/issues/89

[2022-01-16 14:16] #40 closed

[2022-01-16 14:17] RadoRado commented on #40
Updated the `mypy` :v:

[2022-01-21 11:41] RadoRado commented on #85
@farzeni Thanks for reaching out :raised_hands:

We are currently working on this particular thing and will provide examples once it's done.

[2022-01-21 13:49] RadoRado commented on #90
Addressed the first 2 items via #91

[2022-01-21 14:32] wencakisa commented on #85
Resolved with #92 ✅

[2022-01-21 14:32] RadoRado commented on #85
@farzeni Does this actually answer your question / solve your issue: https://github.com/HackSoftware/Django-Styleguide#handling-updates-with-a-service :thinking:

[2022-01-21 15:41] RadoRado commented on #85
I think we can also improve with M2M support.

We can adapt this:

[code]

[2022-02-23 14:09] RadoRado commented on #90
Addressed the 3rd item here -> https://github.com/HackSoftware/Django-Styleguide/commit/81d5e04f768e028c0c71ca7f0e0914675b65bbb8

[2022-02-23 14:32] RadoRado commented on #90
Addressed the 4th item here -> https://github.com/HackSoftware/Django-Styleguide/commit/6493086a6f86326aefef70cc7038db8a763452ae

[2022-02-27 14:55] MohamedAliHamza opened #94 "Create and validate two models with a relationship between them at the same time"
Hi there! would like to thank you for sharing this info with us 👋

I'm trying to apply the pattern in my projects but there is a case I need your help in.

Let's take an example that exists in the repo,
[code]
As you said earlier this method creates a new `User` model and call another service `profile_create`

Let's say there are other fields in the `Profile` model I need to validate and assume th

[2022-02-27 14:59] RadoRado commented on #94
@MohamedAliHamza :wave:

A couple of things:

1. You'd like to use atomic transactions for your services (more on that, here - https://docs.djangoproject.com/en/4.0/topics/db/transactions/)
2. If you need to clean your data, you can do that separately (either via serializers or via something like `user_create_clean`) that can raise an exception (how you handle exceptions is up to you. Here are our

[2022-02-27 15:17] MohamedAliHamza commented on #94
1- I thought about `atomic transactions` but it's not a good solution when traffic increases.

2- That's an available option, assume I put it inside `user_create_clean` and if all conditions are passed, then create the model, but in this case, I don't have to create another services `user_create` to just create an object, right?
the `API` in this case could be  maybe something like that:
[code]

[2022-02-28 08:40] RadoRado commented on #94
@MohamedAliHamza If using transactions is not an option, then no matter how you structure your code, you'll be vulnerable to the scenario where 1 objects get created and the other does not.

The best you can do in that scenario is to invest heavily in application-layer validation on your data & cover that with tests.

That said, it's best to use transactions. If scale is an issue, you can address

[2022-02-28 18:12] MohamedAliHamza commented on #94
Thanks @RadoRado I appreciate your help, have a nice day 🙌

[2022-03-01 08:56] RadoRado commented on #94
@MohamedAliHamza Cheers :raised_hands:

[2022-03-01 08:56] #94 closed

[2022-03-07 11:23] charanjit-singh opened #97 "How to generate OpenAPI schema?"
How to generate OpenAPI schema if we're using `InputSerializer` or `OutputSerializer`?

I believe there should be a common `serializers` folder that can be used to define [OpenApi Schemas](https://swagger.io/docs/specification/data-models/)

[2022-03-09 10:27] RadoRado commented on #97
@charanjit-singh Hello :wave:

If you want to automatically generate OpenAPI schema from the defined APIs, you need to check what the popular libraries are looking for and just add those missing methods to the APIs (can be done via mixin). It's usually things like `get_serializer_class` that need to be defined.

Can you point me to the library that you are using?

Aside from that, from our experie

[2022-04-03 12:43] RadoRado commented on #97
@charanjit-singh I'm closing this for now. Feel free to reopen or open a new issue if you have other questions.

[2022-04-03 12:43] #97 closed

[2022-04-07 21:22] danlamanna opened #98 "How to handle server rendered forms"
Thanks for the styleguide. I've noticed that it seems particularly targeted at API servers where a separate SPA is built. I'm interested in the use case of django form validation.

How would the notion of a custom field validator in a django form translate to services?

[2022-04-09 13:18] RadoRado commented on #98
@danlamanna Hello :wave:

If you treat forms as serializers, the rest of it is pretty much the same.

Here's an example from a few days ago, taken from a custom admin:

[code]

As you can see, we are using `form.cleaned_data` to pass data to the service.

You'll basically do the same, but within a view.

And if there are errors, you can always use https://docs.djangoproject.com/en/4.0/ref/forms/ap

[2022-04-11 04:46] danlamanna commented on #98
I think this example helps illustrate my exact concern!

Here, you're setting a generic validation error for something like https://github.com/HackSoftware/Django-Styleguide-Example/blob/c01431d032f2a8c0e4d915bdf952ce07cba20c22/styleguide_example/files/services.py#L28. IMO, this error should be attached to the `file` field.

Perhaps this is a more fundamental question with services. How should per

[2022-04-12 06:17] RadoRado commented on #98
@danlamanna This is a good question.

There are a couple of things that we need to look at.

First of all, I try to differentiate the kinds of validation that we can have:

1. Validate the data, that's coming, if it follows the proper format & rules.
2. Validate the data, that's coming, in the context of the application (that's basically business logic)

For the first kind of validation, both form

[2022-04-21 07:53] RadoRado commented on #98
@danlamanna Freel free to reopen this if you have additional questions :raised_hands:

[2022-04-21 07:53] #98 closed

[2022-05-10 22:42] Dsantacruz commented on #61
This worked for me, custom message for only field.

[2022-07-11 11:44] timofeiryko opened #102 "Validation with related models"
Hello. You suggest to use services for validation and call it from admin. But it isn't situable for situation, where mutiple forms are edited using Django inlines and these related models are meeded for validation.

I usually perfom it in forms (and don't care about the Django admin), but it itn's very food practive. Could you please provide a kind of template service that can be used in such case

[2022-07-19 13:55] RadoRado commented on #102
@timofeiryko Hello :wave:

Sorry for the late response.

I'm not sure I understand your question, so I'll say few general things:

1. You can do validation on top of ORM objects.
2. You can do validation on raw data (you can safely use forms for this).

If your case is that you are editing a bunch of stuff all at once, perhaps, you need to describe your validation in a function (be it a service) a

[2022-07-25 16:36] cbows opened #103 "Idea: Generic data validator based on TypedDict"
Hi,

first of all, thank you for this great guide, it has helped me a lot.

Recently, I wanted to add some type hints for data returned by DRF's serializers, which I am using to serialize input data in my API views. I wanted to keep using DRF serializers and not switch to any other library (like pydantic or similar).

Since the `validated_data` of a DRF serializer is a dictionary, I thought adding

[2022-08-09 11:42] akhil023 commented on #97
Could you please elaborate on writing OpenAPI schema by hand? Could not find about it in the style guide

[2022-08-09 11:42] akhil023 opened #104 "How to handle api versioning?"
Thanks for the styleguide. But I could not find any mention of how to handle api vesioning.

[2022-08-11 05:59] codeofmagma opened #105 "Inline serializer doesn't work properly with openapi schema generators (spectacular as example)."
Hi! I have a problem with OpenAPI documentation, I use [drf-spectacular](https://github.com/tfranzel/drf-spectacular ) for it and spectacular doesnt take inline serializer, here is an example:

[code]

And this is how it looks in the docs:
![image](https://user-images.githubusercontent.com/59157549/184072612-870e0cbc-4730-4442-a6d7-8be53b90059b.png)

[2022-08-11 06:25] RadoRado commented on #104
@akhil023 hello :wave:

For API versioning, it's basically "choose your own adventure".

You can go with the DRF approach - https://www.django-rest-framework.org/api-guide/versioning/

What we usually do is the following:

- We have a generic `api` django app, that holds `ulrs.py`, that looks like this:

[code]

And now, in each app, `urls.py` is a folder-module with `ulrs/v1.py` inside, for examp

[2022-08-11 06:28] RadoRado commented on #105
@codeofmagma Hello :wave:

We haven't used https://github.com/tfranzel/drf-spectacular in any of our projects.

I'll take a look.

For the time being, if you heavily rely on the generated schema, better define those inline serializers as classes.

Cheers!

[2022-08-11 06:33] RadoRado commented on #103
@cbows Thanks for sharing that!

I'll leave it open, until we find time to go into more details, in case someone finds this helpful.

Cheers

[2022-08-11 06:33] RadoRado commented on #102
Feel free to reopen this, in case you need additional info :eyes:

[2022-08-11 06:33] #102 closed

[2022-08-11 06:48] RadoRado commented on #105
@codeofmagma Found the issue (haven't really dived in)

Basically, `drf-spectacular` (or DRF - not sure how the serializer resolution is done) - is looking for instances with a name.

The current `inline_serializer` implementation looks like this:

[code]

As you can see, we are passing `name=""`. This seems to be the case.

I changed it to the following:

[code]

And it started working.

I'm not

[2022-08-11 07:14] RadoRado commented on #7
This can now be considered as done - https://github.com/HackSoftware/Django-Styleguide#celery

[2022-08-11 07:14] #7 closed

[2022-08-11 07:16] RadoRado commented on #36
:wave:

I'll close this for now, since some time has passed.

At least for us, we are still sticking with the approach described in the styleguide. The proposed approach also looks good.

Picking an approach and staying consistent is the key thing here.

[2022-08-11 07:16] #36 closed

[2022-08-11 07:17] RadoRado commented on #82
What we want to include:

1. The manual approach
2. A possible automatic approach

[2022-08-11 07:27] codeofmagma commented on #105
@RadoRado thanks a lot! Checked both solutions, seems worked without any issues, yes!

--
P. S. I'm surprised this fast reaction on issue =)

[2022-08-11 07:31] RadoRado commented on #105
@codeofmagma Cheers!

--

We piped GitHub notifications to our Slack channel, so we can react faster.

Otherwise, no one on our team had the habit of checking GitHub issues often enough & replies were extremely slow.

[2022-08-12 16:20] #104 closed

[2022-08-13 10:08] RadoRado commented on #105
Closing this for now. In case there are other problems, feel free to reopen :+1:

[2022-08-13 10:08] #105 closed

[2022-08-21 13:23] cbows commented on #85
Hi @p02diada, I wanted to use a single `data` dictionary as the input to my update service, but still have good developer experience like you. Right now I am using `TypedDict`s to specify types for the input to my update services. After validation using the DRF serializers I cast the `request.data` to the proper type and pass it to the update service. I describe the approach in #103. Typed dicts c

[2022-08-23 15:31] antonguzun commented on #82
drf-spectacular works pretty well.
You can create the get_serializer_class function to bind the serializer with a view.
Unfortunately, the library doesn't support generation schema with separate input and output serializers (without manual setup via hardcoded decorators). I believe serializers separation is the most underrated feature in the Django community.

[2022-08-26 15:15] gdvalderrama commented on #90
Reviewing this list I feel the point:

Should also include https://github.com/kevin1024/vcrpy which is far more popular.

[2022-08-30 07:36] ntsvetanov opened #106 "Idea: add redis as cache backend"
Add an example for using redis as cache backend

[2022-09-24 19:28] miketheman opened #107 "Question: File structure / organization?"
Hello! Really enjoyed reading the guide, thanks a ton for putting it together!

I was also looking for some language on patterns of organizing files, directories, and how to scale that kind of structure as well. I didn't find anything specific - did I miss it, or is that something covered in other guides?

Questions like: when to split files up, how to organize them into namespaces/packages, how t

[2022-11-02 14:41] RadoRado commented on #107
@miketheman :wave:

Sorry for the late reply! We somehow missed the notification for a new issue.

To answer your question: File structure & organization really depends on your taste & the specific context of  your application.

I can share few rules of thumb that we follow:

1. You want things, that belong together, to be as closely located as possible. If they can be in a single file - that's gr

[2022-11-03 07:34] RadoRado commented on #82
Yep, I can agree about `drf-spectacular`.

We'll write some suggestions in a new section :+1:

[2022-11-22 17:27] Horbatenko opened #118 "Models testing, class-based services, celery tasks usage"
Hey there!
Thanks a lot for your hard work and such a comprehensive style guide!
Tho I'm curious to hear your thoughts on the following points:
point1:

what do you think about mentioning complex db constrains here? have you ever written a test case for checking that?
f.e we have a following model
[code]
and we want to ensure that we didn't mess up in `check` condition
so the test case goes like t

[2022-11-29 13:12] RadoRado commented on #85
Hello,

With the following updates:

- https://github.com/HackSoftware/Django-Styleguide-Example/pull/305
- https://github.com/HackSoftware/Django-Styleguide/commit/bac4059efd9d52a098ea731d8f7d45a2a559fb84

I'm considering this issue for closed 🙌

Of course, if anyone has any questions, feel free to reopen it / open another issue / post in discussions.

Cheers!

[2022-11-29 13:12] #85 closed

[2022-11-30 18:39] Horbatenko commented on #118
niice! thanks a lot for your valuable feedback and the shared materials, will check everything asap

haha we have the same one in 🇺🇦

[2022-11-30 18:40] #118 closed